{%extends 'layout.html'%} {% load static %} {%block css%}
<link rel="stylesheet" href="{%static 'home.css'%}" />
{%endblock%} {%block title%} Dashboard {%endblock%} {%block content%}
{%if data%}
<div class="dashboard_summary_list">
  <div class="dashboard_card">
    <div class="name">Tổng số VPS</div>
    <div class="number">{{data.total_vps}}</div>
    <a href="{%url 'shop:VPSList'%}" class="details">
      <span style="color: #1a73e8">{{data.total_running}}</span> VPS đang hoạt động
    </a>
  </div>
  <div class="dashboard_card">
    <div class="name">Tổng số hoá đơn</div>
    <div class="number">{{data.total_invoice}}</div>
    <a href="{%url 'shop:invoiceList'%}" class="details">
      <span style="color: #fb8c00">{{data.total_invoice_pending}}</span> hoá đơn đang chờ thanh toán
    </a>
  </div>
</div>
{%endif%}
{%endblock%}
