{%extends 'layout.html'%} {% load static %} {%block css%}
<link rel="stylesheet" href="{%static 'home.css'%}" />
{%endblock%} {%block title%} Dashboard {%endblock%} {%block content%}
<div class="dashboard_summary_list">
  <div class="dashboard_card">
    <div class="name">Tổng số VPS</div>
    <div class="number">1</div>
    <a href="#" class="details">
      <span style="color: #1a73e8">1</span> VPS đang hoạt động
    </a>
    <a href="#" class="details">
      <span style="color: #f44335">0</span> VPS sẽ hết hạn sau 3 ngày
    </a>
  </div>
  <div class="dashboard_card">
    <div class="name">Tổng số hoá đơn</div>
    <div class="number">28</div>
    <a href="#" class="details">
      <span style="color: #fb8c00">0</span> hoá đơn đang chờ thanh toán
    </a>
  </div>
</div>
{%endblock%}
