{%extends 'layout.html'%} {% load static %} {%block css%}
<link rel="stylesheet" href="{%static 'invoiceList.css'%}" />
{%endblock%} {%block title%} Danh sách hoá đơn {%endblock%} {%block content%}

<div class="invoiceList_content">
  <div class="show">
    Hiển thị
    <span>
      <select name="number" id="number">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </span>
    hoá đơn/trang
  </div>
  <div class="table">
    <div class="row head">
      <div class="col">ID</div>
      <div class="col">Loại hoá đơn</div>
      <div class="col">Giá</div>
      <div class="col">Trạng thái</div>
      <div class="col">Phương thức thanh toán</div>
      <div class="col">Ngày khởi tạo</div>
      <div class="col">Ngày hoàn tất</div>
    </div>

    <div class="row">
      <div class="col">
        <a href="{%url 'shop:invoiceDetail'%}">20240522023246</a>
      </div>
      <div class="col"><span class="green">Renew</span></div>
      <div class="col">60 000 VND</div>
      <div class="col"><span class="green">Done</span></div>
      <div class="col">VNPAY</div>
      <div class="col">2024-05-22</div>
      <div class="col">2024-05-22</div>
    </div>
    <div class="row">
      <div class="col">
        <a href="{%url 'shop:invoiceDetail'%}">20240522023246</a>
      </div>
      <div class="col"><span class="green">Create</span></div>
      <div class="col">60 000 VND</div>
      <div class="col"><span class="gray">canceled</span></div>
      <div class="col">Not selected</div>
      <div class="col">2024-05-22</div>
      <div class="col">2024-05-22</div>
    </div>
    <div class="row">
      <div class="col">
        <a href="{%url 'shop:invoiceDetail'%}">20240522023246</a>
      </div>
      <div class="col"><span class="green">Create</span></div>
      <div class="col">60 000 VND</div>
      <div class="col"><span class="blue">pending</span></div>
      <div class="col">Momo</div>
      <div class="col">2024-05-22</div>
      <div class="col">2024-05-22</div>
    </div>
  </div>
</div>
{%endblock%}
