{%extends 'layout.html'%} {% load static %} {%block css%}
<link rel="stylesheet" href="{%static 'invoiceDetail.css'%}" />
{%endblock%} {%block title%} Chi tiết hoá đơn {%endblock%} {%block content%}

{%if invoice%}
<div class="invoiceDetail_content">
  <div class="header">Thông tin chi tiết hoá đơn</div>
  <div class="detail">
    <div class="row">
      <div class="name">ID</div>
      <div class="value">{{invoice.id}}</div>
    </div>
    <div class="row">
      <div class="name">Loại hoá đơn</div>
      <div class="value"><span class="green">
        {%if invoice.type == 1%}CREATE{%endif%}
        {%if invoice.type == 2%}RENEW{%endif%}
      </span></div>
    </div>
    <div class="row">
      <div class="name">Trạng thái</div>
      <div class="value">
        {%if invoice.status == 1%}
        <span class="blue">PENDING</span>
        {%endif%}
        {%if invoice.status == 0%}
        <span class="gray">CANCELED</span>
        {%endif%}
        {%if invoice.status == 2%}
        <span class="green">DONE</span>
        {%endif%}
      </div>
    </div>
    <div class="row">
      <div class="name">Loại VPS</div>
      <div class="value">{{invoice.VPSType}}</div>
    </div>
    <div class="row">
      <div class="name">Phương thức thanh toán</div>
      <div class="value">{{invoice.paymentMethod}}</div>
    </div>
    <div class="row">
      <div class="name">Tổng tiền</div>
      <div class="value">{{invoice.price}} VND</div>
    </div>
  </div>
</div>
{%endif%}
{%endblock%}
