{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'normarlize.css'%}" />
    <link rel="stylesheet" href="{%static 'invoiceDetail.css'%}" />
    <title>Document</title>
  </head>
  <body>
    <div class="invoiceDetail_container">
      <div class="sidebar invociesList_sidebar">
        <div class="sidebar_user">
          <img src="{%static 'assets/images/avatar.svg'%}" alt="" />
          <div class="name">
            Xin chào, <span style="font-weight: bold">Nguyễn Hoàng Anh</span>
          </div>
          <a href="#">Chỉnh sửa thông tin</a>
        </div>
        <a href="{%url 'shop:home'%}" class="sidebar_item" id="dashboard"
          >Dashboard</a
        >
        <a href="{%url 'shop:order'%}" class="sidebar_item" id="Order"
          >Thuê VPS</a
        >
        <a href="{%url 'shop:VPSList'%}" class="sidebar_item" id="VPSList"
          >Danh sách VPS</a
        >
        <a
          href="{%url 'shop:invoiceList'%}"
          class="sidebar_item"
          id="invociesList"
          >Danh sách hoá đơn</a
        >
      </div>
      <div class="invoiceDetail_content">
        <div class="header">Thông tin chi tiết hoá đơn</div>
        <div class="detail">
          <div class="row">
            <div class="name">ID</div>
            <div class="value">20240522023246</div>
          </div>
          <div class="row">
            <div class="name">Loại hoá đơn</div>
            <div class="value"><span class="green">CREATE</span></div>
          </div>
          <div class="row">
            <div class="name">Trạng thái</div>
            <div class="value"><span class="blue">pending</span></div>
          </div>
          <div class="row">
            <div class="name">Loại VPS</div>
            <div class="value">N1</div>
          </div>
          <div class="row">
            <div class="name">Phương thức thanh toán</div>
            <div class="value">Momo</div>
          </div>
          <div class="row">
            <div class="name">Tổng tiền</div>
            <div class="value">60 000 VND</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
