{%extends 'layout.html'%} {% load static %} {%block css%}
<link rel="stylesheet" href="{%static 'invoiceDetail.css'%}" />
{%endblock%} {%block title%} Chi tiết hoá đơn {%endblock%} {%block content%}

<div class="invoiceDetail_content">
  <div class="header">Thông tin chi tiết hoá đơn</div>
  <div class="detail">
    <div class="row">
      <div class="name">ID</div>
      <div class="value">20240522023246</div>
    </div>
    <div class="row">
      <div class="name">Loại hoá đơn</div>
      <div class="value"><span class="green">CREATE</span></div>
    </div>
    <div class="row">
      <div class="name">Trạng thái</div>
      <div class="value"><span class="blue">pending</span></div>
    </div>
    <div class="row">
      <div class="name">Loại VPS</div>
      <div class="value">N1</div>
    </div>
    <div class="row">
      <div class="name">Phương thức thanh toán</div>
      <div class="value">Momo</div>
    </div>
    <div class="row">
      <div class="name">Tổng tiền</div>
      <div class="value">60 000 VND</div>
    </div>
  </div>
</div>
{%endblock%}
