{%extends 'layout.html'%} {% load static %} {%block css%}
<link rel="stylesheet" href="{%static 'invoiceList.css'%}" />
{%endblock%} {%block title%} Danh sách hoá đơn {%endblock%} {%block content%}

{%if invoiceList%}
<div class="invoiceList_content">
  <div class="show">
    Hiển thị
    <span>
      <select name="number" id="number">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </span>
    hoá đơn/trang
  </div>
  <div class="table">
    <div class="row head">
      <div class="col">ID</div>
      <div class="col">Loại hoá đơn</div>
      <div class="col">Giá</div>
      <div class="col">Trạng thái</div>
      <div class="col">Phương thức thanh toán</div>
      <div class="col">Ngày khởi tạo</div>
      <div class="col">Ngày hoàn tất</div>
    </div>
    {%for invoice in invoiceList%}
    <div class="row">
      <div class="col">
        <a href="{%url 'shop:invoiceDetail' invoice.id%}">{{invoice.id}}</a>
      </div>
      <div class="col">
        <span class="green">
        {%if invoice.type == 1%}CREATE{%endif%}
        {%if invoice.type == 2%}RENEW{%endif%}
        </span>
      </div>
      <div class="col">{{invoice.price}} VND</div>
      <div class="col">
        {%if invoice.status == 1%}
        <span class="blue">PENDING</span>
        {%endif%}
        {%if invoice.status == 0%}
        <span class="gray">CANCELED</span>
        {%endif%}
        {%if invoice.status == 2%}
        <span class="green">DONE</span>
        {%endif%}
      </div>
      <div class="col">{{invoice.paymentMethod}}</div>
      <div class="col">{{invoice.createAt|date:"Y-m-d"}}</div>
      <div class="col">{{invoice.finished|date:"Y-m-d"}}</div>
    </div>
    {%endfor%}
  </div>
</div>
{%endif%}
{%endblock%}
