{%extends 'layout.html'%} {% load static %} {%block css%}
<link rel="stylesheet" href="{%static 'order.css'%}" />
{%endblock%} {%block title%} Thuê VPS {%endblock%} {%block content%} {%if vpsTypeTemp%}
<form action="{%url 'shop:order2' %}" method="post">
  {%csrf_token%} {{form.typeTemplate}}

  <div class="order_step">
    <div class="header">Chọn loại server</div>
    <div class="VPSTypeList">
      {%for element in vpsTypeTemp%}
      <div class="VPSType" vpsTypeID="{{element.id}}">
        <div class="header">{{element.name}}</div>
        <div class="details">{{element.description}}</div>
      </div>
      {%endfor%}
    </div>
  </div>
  <div class="order_next">
    <button class="green">Tiếp tục</button>
  </div>
</form>
{%endif%} {%if vpsType%}
<form action="{%url 'shop:order3' %}" method="post">
  {%csrf_token%}{{form.typeTemplate}} {{form.type}}
  <div class="order_step">
    <div class="header">Chọn loại VPS</div>
    <div class="VPSList">
      {%for element in vpsType%}
      <div class="VPSPlan" plan-id="{{element.id}}">
        <div class="name">{{element.id}}</div>
        <div class="details">
          - <span>{{element.CPU}}</span> core(s) CPU <br />
          - <span>{{element.RAM}}</span> GB RAM <br />
          - <span>{{element.SSD}}</span> GB SSD <br />
        </div>
        <div class="price">{{element.pricePerMonth}} VND</div>
      </div>
      {%endfor%}
    </div>
  </div>
  <div class="order_next">
    <button class="green">Tiếp tục</button>
  </div>
</form>
{%endif%} {%if os%}
<form action="{%url 'shop:orderConfirm'%}" method="post">
  {%csrf_token%}{{form.typeTemplate}} {{form.type}}{{form.OS}}
  <div class="order_step">
    <div class="header">Chọn hệ điều hành</div>
    <div class="OSList">
      {%for element in os%}
      <div class="OS" os-id="{{element.id}}">{{element.name}}</div>
      {%endfor%}
    </div>
  </div>
  <div class="order_next">
    <button class="green">Tiếp tục</button>
  </div>
</form>
{%endif%}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var step1 = document.getElementsByClassName("VPSTypeList");
    var step2 = document.getElementsByClassName("VPSList");
    var step3 = document.getElementsByClassName("OSList");
    if (step1) {
      var vpsTypes = document.querySelectorAll(".VPSType");
      vpsTypes.forEach(function (vpsType) {
        vpsType.addEventListener("click", function () {
          var vpsTypes = document.querySelectorAll(".VPSType");
          vpsTypes.forEach(function (vpsType) {
            vpsType.classList.remove("selected");
          });
          vpsType.classList.add("selected");
          var vpsTypeID = vpsType.getAttribute("vpsTypeID");
          document.getElementById("id_typeTemplate").value = vpsTypeID;
        });
      });
    }
    if (step2) {
      var vpsTypes = document.querySelectorAll(".VPSPlan");
      vpsTypes.forEach(function (vpsType) {
        vpsType.addEventListener("click", function () {
          var vpsTypes = document.querySelectorAll(".VPSPlan");
          vpsTypes.forEach(function (vpsType) {
            vpsType.classList.remove("selected");
          });
          vpsType.classList.add("selected");
          var vpsTypeID = vpsType.getAttribute("plan-id");
          document.getElementById("id_type").value = vpsTypeID;
        });
      });
    }
    if (step3) {
      var vpsTypes = document.querySelectorAll(".OS");
      vpsTypes.forEach(function (vpsType) {
        vpsType.addEventListener("click", function () {
          var vpsTypes = document.querySelectorAll(".OS");
          vpsTypes.forEach(function (vpsType) {
            vpsType.classList.remove("selected");
          });
          vpsType.classList.add("selected");
          var vpsTypeID = vpsType.getAttribute("os-id");
          document.getElementById("id_OS").value = vpsTypeID;
        });
      });
    }
  });
</script>
{%endblock%}
