{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'normarlize.css' %}" />
    <link rel="stylesheet" href="{% static 'register.css' %}" />

    <title>Register</title>
  </head>
  <body>
    <div class="register_container">
      <form action="" method="post">
        {%csrf_token%}
        <div class="register_field">
          {% if err_code %} {% if err_code == 1 %}
          <div class="err_message">
            Tài khoản phải chứa 6-20 kí tự, không có kí tự đặc biệt và không bắt
            đầu bằng số
          </div>
          {% endif %}
          {% if err_code == 5 %}
          <div class="err_message">
            Tài khoản đã tồn tại
          </div>
          {% endif %} {% endif %} {{form.username}} {% if err_code %} 
          {% if err_code == 2 %}
          <div class="err_message">Mật khẩu phải dài từ 6-20 kí tự</div>
          {% endif %} {% endif %}{{form.password}} {% if err_code %} {% if err_code == 3 %}
          <div class="err_message">Mật khẩu không trùng khớp</div>
          {% endif %} {% endif %} {{form.passwordConfirm}} {{form.email}} {% if err_code %} {% if err_code == 4 %}
          <div class="err_message">Số điện thoại không hợp lệ</div>
          {% endif %} {% endif %}{{form.phone}}
        </div>
        <div class="register_button_field">
          <button class="green" type="submit">Đăng kí</button>
        </div>
      </form>
      <div class="register_button_field">
        <a href="{%url 'shop:login'%}">
          <button class="orange">Quay về đăng nhập</button>
        </a>
      </div>
    </div>
  </body>
</html>
