{%extends 'layout.html'%} {% load static %} {%block css%}
<link rel="stylesheet" href="{%static 'VPSDetail.css'%}" />
{%endblock%} {%block title%} Chi tiết VPS {%endblock%} {%block content%}

<div class="VPSDetail_content">
  <div class="header">Thông tin chi tiết VPS</div>
  <div class="detail">
    <div class="row">
      <div class="name">VPS IP</div>
      <div class="value">192.168.1.1</div>
    </div>
    <div class="row">
      <div class="name">Trạng thái</div>
      <div class="value"><span class="green">OK</span></div>
    </div>
    <div class="row">
      <div class="name">Thông số</div>
      <div class="value">1 CPU, 2048MB RAM, 20GB SSD Disk</div>
    </div>
    <div class="row">
      <div class="name">OS</div>
      <div class="value">Windows server 2012R2 v18.1</div>
    </div>
    <div class="row">
      <div class="name">Tài khoản VPS mặc định</div>
      <div class="value">Administrator</div>
    </div>
    <div class="row">
      <div class="name">Mật khẩu VPS mặc định</div>
      <div class="value">LEV169e488x</div>
    </div>
  </div>
  <div class="action">
    <button class="green">Khởi động</button>
    <button class="red">Tắt VPS</button>
    <button class="orange">Gia hạn VPS</button>
    <button class="red">Huỷ VPS</button>
  </div>
</div>

{%endblock%}
