{%extends 'layout.html'%} {% load static %} {%block css%}
<link rel="stylesheet" href="{%static 'VPSDetail.css'%}" />
{%endblock%} {%block title%} Chi tiết VPS {%endblock%} {%block content%} {%if vps%}
<div class="VPSDetail_content">
  <div class="header">Thông tin chi tiết VPS</div>
  <div class="detail">
    <div class="row">
      <div class="name">VPS IP</div>
      <div class="value">{{vps.ip}}</div>
    </div>
    <div class="row">
      <div class="name">Trạng thái</div>
      <div class="value">
        {%if vps.status == 1%}
        <span class="green">RUNNING</span></div>
        {%endif%}
        {%if vps.status == 2%}
        <span class="red">STOPPED</span></div>
        {%endif%}
      </div>
      <div class="row">
        <div class="name">Thông số</div>
        <div class="value">{{vps.CPU}} core(s) CPU, {{vps.RAM}}GB RAM, {{vps.SSD}}GB SSD</div>
      </div>
      <div class="row">
        <div class="name">OS</div>
        <div class="value">{{vps.OS.name}}</div>
      </div>
      <div class="row">
        <div class="name">Tài khoản VPS mặc định</div>
        <div class="value">{{vps.username}}</div>
      </div>
      <div class="row">
        <div class="name">Mật khẩu VPS mặc định</div>
        <div class="value">{{vps.password}}</div>
      </div>
    </div>
    
  </div>
  <div class="action">
    {%if vps.status == 2%}
    <form action="{%url 'shop:VPSStatusChange' vps.id%}" method="post">
      {%csrf_token%}
      <button class="green">Khởi động VPS</button>
    </form>
    {%endif%}
    {%if vps.status == 1%}
    <form action="{%url 'shop:VPSStatusChange' vps.id%}" method="post">
      {%csrf_token%}
      <button class="red">Tắt VPS</button>
    </form>
    {%endif%}
    <form action="{%url 'shop:VPSRenew' vps.id%}" method="post">
      {%csrf_token%}
      <button class="orange" id="renew">Gia hạn VPS</button>
    </form>
    <form action="{%url 'shop:VPSDelete' vps.id%}" method="post">
      {%csrf_token%}
      <button class="red">Huỷ VPS</button>
    </form>
  </div>
</div>

{%endif%} {%endblock%}
