{%extends 'layout.html'%} {% load static %} {%block css%}
<link rel="stylesheet" href="{%static 'VPSList.css'%}" />
{%endblock%} {%block title%} Danh sách VPS {%endblock%} {%block content%}
<div class="VPSList_content">
  <div class="show">
    Hiển thị
    <span>
      <select name="number" id="number">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </span>
    VPS/trang
  </div>
  <div class="table">
    <div class="row head">
      <div class="col">IP</div>
      <div class="col">Tài khoản VPS</div>
      <div class="col">Mật khẩu VPS</div>
      <div class="col">Mã VPS</div>
      <div class="col">Giá thành</div>
      <div class="col">Ngày hết hạn</div>
      <div class="col">Trạng thái</div>
    </div>
    <div class="row">
      <div class="col">
        <a href="{%url 'shop:VPSDetail'%}">192.168.1.1</a>
      </div>
      <div class="col">user1</div>
      <div class="col">***</div>
      <div class="col">Basic</div>
      <div class="col">$10/month</div>
      <div class="col">2024-12-31</div>
      <div class="col"><span class="green">OK</span></div>
    </div>
    <div class="row">
      <div class="col">
        <a href="{%url 'shop:VPSDetail'%}">192.168.1.2</a>
      </div>
      <div class="col">user2</div>
      <div class="col">***</div>
      <div class="col">Pro</div>
      <div class="col">$20/month</div>
      <div class="col">2024-11-30</div>
      <div class="col"><span class="red">Suspend</span></div>
    </div>
  </div>
</div>
{%endblock%}
