{%extends 'layout.html'%} {% load static %} {%block css%}
<link rel="stylesheet" href="{%static 'VPSList.css'%}" />
{%endblock%} {%block title%} Danh sách VPS {%endblock%} {%block content%}
<div class="VPSList_content">
  <div class="show">
    Hiển thị
    <span>
      <select name="number" id="number">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </span>
    VPS/trang
  </div>
  <div class="table">
    <div class="row head">
      <div class="col">IP</div>
      <div class="col">Mã VPS</div>
      <div class="col">Giá thành</div>
      <div class="col">Ngày hết hạn</div>
      <div class="col">Trạng thái</div>
    </div>
    {%if vpsList %} {%for vps in vpsList%}
    <div class="row">
      <div class="col">
        <a href="{%url 'shop:VPSDetail' vps.id%}">{{vps.ip}}</a>
      </div>
      <div class="col">{{vps.plan}}</div>
      <div class="col">{{ vps.price }} VND</div>
      <div class="col">{{vps.expired_date|date:"Y-m-d"}}</div>
      <div class="col">
        {%if vps.status == 1%}
        <span class="green">RUNNING</span></div>
        {%endif%}
        {%if vps.status == 2%}
        <span class="red">STOPPED</span></div>
        {%endif%}
    </div>
    {%endfor%} {%endif%}
  </div>
</div>
{%endblock%}
