.invoice_content {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.form {
    width           : 40%;
    padding         : 48px;
    background-color: white;
}

.form hr {
    margin: 24px 0
}

.invoice_header {
    font-weight: bold;
    text-align : center;
    font-size  : 24px;
}

.invoice_details>div {
    margin-bottom: 8px;
}


.invoice_details>div span {
    font-size  : 24px;
    font-weight: bold;
    color      : #ff6000;
}

.invoice_inputs>div {
    margin-bottom: 12px;
}

.invoice_inputs>div>div {
    margin-bottom: 6px;
}

.invoice_inputs input {
    padding     : 8px;
    border-left : 0;
    border-right: 0;
    border-top  : 0;
    color       : #ff6000;
    font-size   : 24px;
    font-weight : bold;
}

.invoice_inputs input:focus {
    border-left  : 0;
    border-right : 0;
    border-top   : 0;
    border-bottom: 3px solid #ff6000;
    outline      : none;
}

.invoice_price {
    font-weight: bold;
}

.invoice_price p {
    font-size: 32px;
    color    : #ff6000;
}

.invoice_payment_method{
    display: flex;
    gap: 32px;
    margin-bottom: 32px
}

.invoice_payment_method div{
    display: flex;
    align-items: center;
}

.invoice_payment_method select{
    padding: 8px 16px;
}

.invoice_next {
    text-align: center;
}

.invoice_next button {
    padding       : 24px 48px;
    font-weight   : bold;
    text-transform: uppercase;
}