.invoiceList_content>div {
    margin: 24px
}

.invoiceList_content>div:first-child {
    margin-top: 64px;
}

.invoiceList_content>div:last-child {
    margin-bottom: 64px;
}

.table .row {
    display      : flex;
    flex-wrap    : nowrap;
    margin-bottom: 8px;
    background-color: white;
}

.table .row:nth-child(2n) {
    background-color: #f0f2f5;
}

.table .row.head,
.table .row .col a {
    font-weight: bold;
}

.table .row .col {
    width     : 100%;
    text-align: center;
    padding   : 16px 8px;
}

.table .row.head .col,
.table .row .col a:hover,
.table .row .col:nth-child(3) {
    color: #ff6000;
}

.table .row .col:nth-child(3) {
    font-weight: bold;
}