.invoiceDetail_content>div {
    margin-bottom: 24px;
}

.header {
    font-size  : 32px;
    color      : #ff6000;
    font-weight: bold;
}

.detail .row {
    display: flex;
    padding: 10px;
}

.detail .row:nth-child(2n) {
    background-color: white;
}

.detail .row .name,
.detail .row .value {
    width: 100%;
}

.detail .row:last-child .value {
    color      : #ff6000;
    font-weight: bold;
}

.detail .row .name,
.detail .row:first-child .value {
    font-weight: bold;
}

.action button {
    padding: 12px;
}