.order_container {
    display  : flex;
    flex-wrap: nowrap;

}

.sidebar {
    width           : 20%;
    max-width       : 300px;
    min-width       : 200px;
    background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
    color           : white;
    padding         : 24px 12px;
    height          : 100vh;
}

.sidebar .sidebar_user {
    text-align   : center;
    margin-bottom: 40px;
}

.sidebar .sidebar_user>* {
    margin-bottom: 24px;
}

.sidebar .sidebar_user img {
    width: 100px;
}

.sidebar .sidebar_user a {
    font-weight: bold;
}

.sidebar .sidebar_user a:hover {
    text-decoration: underline;
}


.sidebar .sidebar_item {
    display      : block;
    padding      : 16px 8px;
    margin       : 4px 8px;
    border-radius: 10px;
}

.order_sidebar #order,
.sidebar_item:hover {
    background-color: rgb(199, 199, 199, .2)
}

.order_content {
    width           : 80%;
    padding-top     : 24px;
    padding-left    : 64px;
    background-color: #f0f2f5;
}

.order_content .order_step {
    margin-bottom: 32px;
}

.order_content .order_step>.header {
    color        : #ff6000;
    font-size    : 32px;
    font-weight  : bold;
    margin-bottom: 16px;
}

.order_content .order_step .VPSTypeList {
    display  : flex;
    flex-wrap: wrap;
    gap      : 16px;
}

.order_content .order_step .VPSType {
    width        : 33%;
    min-width    : 200px;
    max-width    : 300px;
    height       : 200px;
    border       : 1px solid #ff6000;
    border-radius: 10px;
    cursor       : pointer;
}

.order_content .order_step .VPSType.selected {
    border: 3px solid #ff6000
}

.order_content .order_step .VPSType .header {
    font-weight: bold;
    font-size  : 20px;
    padding    : 10px;
    text-align : center;
}

.order_content .order_step .VPSType .details {
    font-size: 12px;
    padding  : 8px;
}

.order_content .order_step .VPSList {
    display  : flex;
    flex-wrap: wrap;
    gap      : 16px
}

.order_content .order_step .VPSPlan {
    width        : 33%;
    min-width    : 200px;
    max-width    : 300px;
    padding      : 16px 0;
    border       : 1px solid #ff6000;
    border-radius: 10px;
    cursor       : pointer;
}

.order_content .order_step .VPSPlan.selected {
    border: 3px solid #ff6000
}

.order_content .order_step .VPSPlan .name {
    font-weight: bold;
    font-size  : 20px;
    padding    : 10px;
    text-align : center;
}

.order_content .order_step .VPSPlan .details {
    font-size: 14px;
    padding  : 8px;
}

.order_content .order_step .VPSPlan .details>span {
    font-size  : 20px;
    font-weight: bold;
}

.order_content .order_step .VPSPlan .price {
    font-size  : 24px;
    font-weight: bold;
    text-align : center;
    color      : #ff6000;
}

.order_content .order_step .OSList {
    display  : flex;
    flex-wrap: wrap;
    gap      : 16px
}

.order_content .order_step .OS {
    width        : 33%;
    min-width    : 200px;
    max-width    : 300px;
    padding      : 16px;
    border       : 1px solid #ff6000;
    border-radius: 10px;
    cursor       : pointer;
}

.order_content .order_step .OS.selected {
    border: 3px solid #ff6000
}

.order_content .order_step .OS.blue {
    border: 1px solid #1A73E8;
}

.order_content .order_step .OS.blue.selected {
    border: 3px solid #1A73E8;
}

.order_content .order_next {
    text-align: center;
}

.order_content .order_next button {
    padding       : 24px 48px;
    font-weight   : bold;
    text-transform: uppercase;
}