.VPSDetail_content>div {
    margin-bottom: 24px;
}

.header {
    font-size  : 32px;
    color      : #ff6000;
    font-weight: bold;
}

.detail .row {
    display: flex;
    padding: 10px;
}

.detail .row:first-child .value{
    font-weight: bold;
}

.detail .row:nth-child(2n) {
    background-color: white;
}

.detail .row .name,
.detail .row .value {
    width: 100%;
}

.detail .row .name {
    font-weight: bold;
}

.action{
    display: flex;
    gap: 16px
}

.action button {
    padding: 12px;
}