.VPSList_content>div {
    margin: 24px
}

.VPSList_content>div:first-child {
    margin-top: 64px;
}

.VPSList_content>div:last-child {
    margin-bottom: 64px;
}

.table .row {
    display      : flex;
    flex-wrap    : nowrap;
    margin-bottom: 8px;
}

.table .row:nth-child(2n) {
    background-color: white;
}

.table .row.head,
.table .row .col a {
    font-weight: bold;
}

.table .row .col {
    width     : 100%;
    text-align: center;
    padding   : 16px 8px;
}

.table .row.head .col,
.table .row .col a:hover {
    color: #ff6000;
}